
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h4">Toplantı Özeti</h1>
<h2>Toplantı sizinle birlikte 20 kişi katılıyor.</h2>
<a class="btn btn-sm btn-outline-primary" href="/meeting/list">Kullanıcıları listele</a>
